@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --fredoka: "fredoka";
  --poppins: "Poppins", sans-serif;

  --text: #fff;
  --bg: #f8a150;
  --bg-alt: #f1f2f6;
  --border: #dfe6e9;

  body {
    width: 100vw;
    box-sizing: border-box;
  }
}

html{
  scroll-behavior: auto !important;
}

button {
  outline: none;
  font-family: var(--poppins);
  cursor: pointer;
}

a{
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
p {
  font-family: var(--poppins);
  font-weight: 300;
}
